// Layout - Helpers
.h-align_right {
	text-align: right;
}

.h-align_left {
	text-align: left !important;
}

.h-top_zero {
	top: 0px;
}

.h-bt_checkbox_label {
	padding: 0px !important;
	line-height: 30px;
}

.h-border_left_none {
	border-left: none;
}

.h-header-menu-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
}

.h-carousel_bottom {
	bottom: 65px;
}

.h-carousel_pager_bottom {
	bottom: 105px;
}

.h-carousel_inner_fixed {
  width:100%;
  height: 491px !important;
}

.h-carousel_image_fixed {
	display: block;
	width: 1024px !important;
	height: 491px !important;
	max-width: auto !important;
}

.h-border_right_none {
	border-right: none;
}

.h-align_center {
	text-align: center;
}

.h-right-margin {
	margin-right: 20px;
}

.h-float-none {
	float: none;
}

.h-float_left {
	float: left;
}

.h-float_right {
	float: right;
}

.h-p_padding_bottom {
	padding-bottom: 10px !important;
}

.h-bt_select {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.h-list_two_col,
.h-list_three_col {
	padding-left: 0;
	margin: 0;

	> li {
		float: left;
		list-style-type: none;
	}
}

.h-list_two_col {
	> li {
		margin: 0 2%;
		width: 46%;
	}
}

.h-list_three_col {
	> li {
		margin: 0 1.5%;
		width: 30%;
	}
}

.h-list_three_col {
	margin-right: 10px;
}

.h-floated_content {
	margin: -5px 0 0 45px;
}

/* enable absolute positioning */
.h-inner-addon { 
    position: relative; 
}

/* style icon */
.h-inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  
  font-size: 1.6rem;

  pointer-events: none;
}

/* align icon */
.h-left-addon .glyphicon  { left:  0px;}
.h-right-addon .glyphicon { right: 0px;}

/* add padding  */
.h-left-addon input  { padding-left:  30px; }
.h-right-addon input { padding-right: 30px; }