


.boardsLayout {
    width: 100%;
    position: relative;
    .topMenu {
        width: 100%;
        height: 75px;
        padding: 15px 10px;
        //background-color: $colorPrimaryL;
        border-bottom: 1px solid $colorPrimaryD;
        .toDashboard {
            display: block;
            float: left;
            margin: 0;
            margin-top: 8px;
            margin-left: 0px;
            i {
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        .topMenuLeftTools {
            margin-left: 200px;
           
        }
        .topMenuRightTools{
            .membersList{

            }
        }

        .bodyNav {
            .logOut {
                margin-left: 50px;
                margin-top: -5px;
       
                a{
                    font-size: 22px;
                    color: $color3;
                       
                    &:hover {
                        text-decoration: none;
                        @include swing();
                    }
                }
            }
        }

        button {
            i {
                color: $colorPrimaryD;
            }
            &.active {
                i {
                    color: $colorSecondaryD;
                }
            }
        }
    }
    .boardsBody {
        width: 100%;
        position: relative;
        .leftToolBar {
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100vh - 75px);
            width: 253px;
            margin-left: -200px;
            transition: margin 0.8s;
            background-color: $colorGrey-100;
            border-right: 1px solid $colorPrimaryD;
            z-index: 99999;
            &.active {
               margin-left: 0;
               transition: margin 0.8s; 
            }

            .buttonGroup {
                float: right;
            }
            button {
                i {
                    color: $colorPrimaryD;
                }
                &.active {
                    i {
                        color:$colorSecondaryD;
                    }
                }
            }
            .pushSidebarButton {
                margin-bottom: 50px!important;
                border-bottom: 1px solid $colorPrimaryD;
            }

        }
        .boardsBodyContent {
            
            float: right;
            width: calc(100% - 53px);
            height: calc(100vh - 75px);
            background-color: $colorSecondaryL;
            padding-top: 20px;

            .mouseField {
                position: relative;
                margin-top: -20px;
                width: 100%;
                height: calc(100vh - 75px);
                z-index: 88888;
                .mouseSwichList {
                    
                    position: absolute;
                    right: 120px;
                    top: 0;
                    border: 1px solid #FF4500; 
                    border-top: none; 
                    background-color: #FF4500; 
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px; 
                    .mouseSwichHeader{
                        width: 40px;
                        height: 20px;
                        padding-left: 10px;
                        text-align: center;
                        cursor: pointer;
                        i{
                            color: #FFFAFA;
                            
                           margin-left: -3px;
                           margin-top: -0px;
                        }
                    }
                    .mouseSwichBody{
                        position: absolute;
                        top: 21px;
                        right: 0;
                        //width: 80px;
                        height: 0;
                        background-color: #FFFF;
                       border: none;
                       border-radius: 5px;
                        .mouseSwich{
                            display: none;
                            //margin-top: 5px;

                            height: 25px;
                            padding-top: 3px;
                            padding-left: 10px;
                            padding-right: 5px;
                            cursor: pointer;
                            &:hover {
                                background-color: #FFDAB9;
                            }
                            span {
                                margin-right: 10px;
                            }
                        }
                        &.active {
                            height: auto;
                            border: 1px solid #FFDAB9;
                            .mouseSwich{
                                display: block;
                            }
                        }
                    }
                }
                .userMouse {
                    position: absolute;
                    transition: all 0.5s;
                    //transition: left 0.3s;
                    i {
                        margin: 0;
                        margin-left: -8px;
                        margin-top: 0px;
                    }
                }
            }

            .red {
                background: red;
            }
           

        }
    }
}