/*******************************************************/
/* BG Variables */
/*******************************************************/

$bg-center: "transparent center center no-repeat";




/*******************************************************/
/* color Variables */
/*******************************************************/
/* colors*/
$black-color: #000000;
$wite-color: #ffffff;

$cream-color: #e8e1d7;
$red-color: #fd926d;
$gray-color: #838383;

$green-color: #4fafa0;
$brown-color: #78645d;

$lemon-color: #FFFACD; //лимон
$bisque-color:#FFE4C4; // бисквит

$lavender-color:#E6E6FA; // лаванда

$light_blue-color:#ADD8E6;
$SkyBlue-color:#87CEEB;
$DeepSkyBlue-color:#00BFFF;
$LightCyan1-color:#E0FFFF;
$Ivory1-color: #FFFFF0;

/*text colors*/

