.DashboardLayout {
    .dashboardBody {

        .dashboardBoards {
            padding: 20px;
             

            .addBoardsGroup {
                margin-top: 25px;
                margin-left: 10px;
            }
            
        }

    }
}