//
//
.home_tour{

   .container {

       .home_tour_header{
            margin-top: 100px;
            width: 50%;
    
            h1 {
                width: 100%;
                font-size: 36px;
                text-align: center;
            }
            p{
                font-size: 28px;
                text-align: center;
            }

            a {
               display: block;
               //padding: 0 20px;
               width: 50%; 
            }
       } 
   } 


}